<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    姓名<input type="text" v-model="Choice.name">
    年龄<input type="text" v-model="Choice.age">
    <label>sex:</label>
    <select v-model="Choice.sex">
        <option value="男">男</option>
        <option value="女">女</option>
    </select>
    <button @click="add">添加</button>
    <div v-for="(val,k,index) in people">
        <li>{{k}}=>{{val.name}},{{val[k]}}=>{{val.age}},{{val[k]}}=>{{val.sex}}<button @click="delet(index)">delete</button></li>
    </div>
</div>
<script src="vue.js"></script>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            Choice: {
                name: '',
                age: '',
                sex: '男'
            },
//            people:[{name:'jim',age:14,sex:'女'}]
            people: [
                {name:'l',age:'12',sex:'男'}
            ]
        },
        methods: {
            add: function () {
                this.people.push({
                    name:this.Choice.name,
                    age:this.Choice.age,
                    sex:this.Choice.sex
                })
            },
            delet: function (idx) {
               this.people.splice(idx,1);
            }
        }
    })
</script>
</body>
</html>