    * {
      margin: 0;
      padding: 0;
    }

    a {
      text-decoration: none;
    }

    #basic-information {
      width: 100%;
      background-color: #324057;
      padding-top: 75px;
      .comment {
        width: 960px;
        margin: 0 auto;
        overflow: hidden;
        min-height: 450px;
        span, a {
          color: #F9FAFC;
        }
        .show h2 {
          color: #1F2D3D;

        }
        .comment-top {
          width: 100%;
          overflow: hidden;
          .information {
            float: left;
            padding: 50px 0;
            a:hover {
              color: #F7BA2A;
              transition: all 0.3s;
              text-decoration: underline;
            }
            .focus {
              color: #13CE66;
            }
          }
          .my-img {
            margin: 50px 0;
            float: right;
            height: 140px;
            width: 140px;
            border-radius: 50%;
            overflow: hidden;
            img {
              width: 140px;
              height: 140px;
            }
          }
        }
        .about-me {
          float: left;
          overflow: hidden;
          h3 {
            color: #1F2D3D;
          }
          p {
            margin-top: 20px;
            color: whitesmoke;
          }
        }
      }
    }



