    * {
      margin: 0;
      padding: 0;
    }

    a {
      text-decoration: none;
    }

    #footer {
      position: relative;
      height: 300px;
      overflow: hidden;
      background: #00c1de;
      color: whitesmoke;
      .profile_social {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
        z-index: 100;
        h6 {
          color: slategrey;
        }
        a {
          display: inline-block;
          height: 10px;
          line-height: 10px;
          font-size: 20px;
        }
        h5:hover {
          color: #F7BA2A;
          transition: all 0.3s;
          text-decoration: underline;
        }
        span {
          display: inline-block;
          margin-top: 5px;
        }
        a {
          color: slategrey;
        }
        .focus:hover {
          color: #F7BA2A;
          transition: all 0.3s;
          text-decoration: underline;
        }
      }
      img {
        position: absolute;
        left: 0;
        width: 100%;
        top: 0;
        height: 300px;
        z-index: 1;
      }
    }


